<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>index</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <style>
    .col-center{
      height: 250px;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      box-shadow: 5px 5px 5px #ccc;
    }
  </style>
  <div class="jumbotron text-center col-center">
    <h1>BDPHP</h1>
    <p>一个开箱即用的快速开发框架</p>
  </div>
</body>
</html>